anguage: C
# Indentation
IndentWidth: 4
UseTab: Never
# Alignment
AlignAfterOpenBracket: Align
AlignOperands: true
# Breaks
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  BeforeElse: false
  BeforeWhile: false
# Spaces
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
# Pointer alignment
PointerAlignment: Right
# Others
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
MaxEmptyLinesToKeep: 1